.aboutVideoBlock {
  height: max-content;

  @media only screen and (max-width: 900px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.aboutVideoBlock-light {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.aboutVideo {
  position: relative;
  height: initial;
  // object-fit: cover;
  width: 74vw;
  margin: 0px 0 0 -37vw;

  @media (max-width: 900px) {
    position: initial;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
  }
}

.aboutVideoPlay,
.aboutVideoPause {

  @media (max-width: 900px) {
    position: absolute;
    right: auto !important;
    left: auto !important;
    bottom: auto !important;
    top: auto !important;
    margin: -35px 0 0 -35px;
    width: 70px;
    padding: 0;
    height: 70px;
  }

}

.aboutVideoPlay,
.aboutVideoPause {
  font-size: 0;
  line-height: 0;
}