.aboutVideoBlock {
  height: max-content;
  display: flex !important;
  align-items: center;
  justify-content: center;

  .cust-video-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.aboutVideoBlock-light {
  display: none !important;
}

.aboutVideo {
  position: relative;
  height: initial;
  width: 74vw;
  margin: 0px 0 0 -37vw;

  @media (max-width: 900px) {
    position: initial;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
  }
}

.aboutVideoPlay,
.aboutVideoPause {

  position: absolute;
  right: auto !important;
  left: auto !important;
  bottom: auto !important;
  top: auto !important;
  margin: 0;
  width: 70px;
  padding: 0;
  height: 70px;

  @media (max-width: 900px) {
    width: 40px;
    height: 40px;
  }

}

.aboutVideoPlay,
.aboutVideoPause {
  font-size: 0;
  line-height: 0;
}

.aboutVideoPlaySVG {
  pointer-events: none;
}